services:
  # PostgreSQL для Auth Service
  postgres:
    image: postgres:15-alpine
    container_name: auth-db
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - tasktracker-network

  # MongoDB для Task Service
  mongodb:
    image: mongo:7.0
    container_name: task-db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: task_db
    volumes:
      - mongodb_data:/data/db
    networks:
      - tasktracker-network

  # Zookeeper (нужен для Kafka)
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - tasktracker-network

  # Kafka
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - tasktracker-network

volumes:
  postgres_data:
  mongodb_data:

networks:
  tasktracker-network:
    driver: bridge